
<div class="background"></div>

<!-- The main body of the app -->
<div class="container main-body">
    <div class="main-body-item">
      <div class="inside-main-body-item" (click)="onClickLink('nutrition')">
        <a >Nutrition</a>
      </div>
      <div class="under-main-body-item">
        <p>Calculate your body index, plan your meals, get the best diet possible</p>
      </div>
    </div>
  
    <div class="main-body-item">
      <div class="inside-main-body-item" (click)="onClickLink('workout')">
        <a >Gym Plan</a>
      </div>
      <div class="under-main-body-item">
        <p>Calculate your body index, plan your meals, get the best diet possible</p>
      </div>
    </div>
  
    <div class="main-body-item">
      <div class="inside-main-body-item" (click)="onClickLink('stats')">
        <a >Your Stats</a>
      </div>
      <div class="under-main-body-item">
        <p>Calculate your body index, plan your meals, get the best diet possible</p>
      </div>
    </div>
  </div>
