
<div class="background">
</div>

<div class="container-fluid header">
  <p class="header-logo">Nutrition</p>
</div>

<!-- Main body where the buttons are -->
<div class="container main-body">
  <div class="main-body-item">
    <div class="main-body-item-interior" (click)="onClickLink('days')">
      <p>Plan your days</p>
    </div>
    <div class="main-body-item-footer">
      <p>Plan your meals with help from our recommendations or our databases</p>
    </div>
  </div>

  <div class="main-body-item">
    <div class="main-body-item-interior" (click)="onClickLink('schematics')">
      <p>Schematics</p>
    </div>
    <div class="main-body-item-footer">
      <p>Plan your meals with help from our recommendations or our databases</p>
    </div>
  </div>

  <div class="main-body-item">
    <div class="main-body-item-interior" (click)="onClickLink('intake')">
      <p>Dailey Intake</p>
    </div>
    <div class="main-body-item-footer">
      <p>Plan your meals with help from our recommendations or our databases</p>
    </div>
  </div>
</div>
