
<div class="background">
</div>

<div class="container-fluid header">
  <p class="header-logo">Workout</p>
</div>

<!-- Main body where the buttons are -->
<div class="container main-body">
  <div class="main-body-item">
    <div class="main-body-item-interior" (click)="onClickLink('days')">
      <p>Workouts</p>
    </div>
    <div class="main-body-item-footer">
      <p>Plan your workouts based on the day of week you choose</p>
    </div>
  </div>

  <div class="main-body-item">
    <div class="main-body-item-interior" (click)="onClickLink('schematics')">
      <p>Schematics</p>
    </div>
    <div class="main-body-item-footer">
      <p>Save your favorite exercice configurations and reuse them</p>
    </div>
  </div>
