
.navbar {
    background-color: #003063;
    border: none;
    border-color: transparent;

    a.navbar-brand {
        color: #EDF5E1;
        font-weight: bold;
    }

    li {
        a {
            color: #EDF5E1;
        }
    }

}
